@model GA2_Ex2_ASPNetMVCDBFirst.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card p-4">
        <h2 class="mb-4">Edit User</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.UserID)
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.UserName)</label>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Email)</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    <label class="form-label">@Html.DisplayNameFor(model => model.Password)</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        @Html.EditorFor(model => model.LockStatus, new { @class = "form-check-input" })
                        <label class="form-check-label" for="LockStatus">@Html.DisplayNameFor(model => model.LockStatus)</label>
                        @Html.ValidationMessageFor(model => model.LockStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary ms-2">Back to List</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}